# ignore .token
.token
# ignore config file
*.cfg
# ignore .env
.env
# ignore csv files
*.csv
# ignore JSON files
*.json
# ignore .log files
*.log
# ignore .cfg files
*.cfg
# ignore temp.py
temp.py
temp*.py
# ignore .txt files
*.txt
# ignore jpg files
*.jpg
# ignore ipynb files
*.ipynb